.card-details-container {
  display: flex;
  justify-content: center;
}

.top-section {
  background-color: whitesmoke;
  box-shadow:  0 2px 5px #23222233;
  margin: 0em 2em;
  width: 83em;
  padding: 1.5em
}

.top-section-header {
  display: flex;
  justify-content: space-between;
}

#card-details-title {
  font-size: 1.7em;
  display: flex;
  align-items: center;
  padding: 0em;
}

.status {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 1em;
}
.status.open {
  background-color: rgb(243, 163, 59);
}
.status.closed {
  background-color: rgb(35, 73, 9);
  color: whitesmoke
}

.top-section-body {
  display: flex;
  padding: 1em 0em;
}
.cover-photo {
  width: 100%;
  padding-right: 1em;
}
#cover-photo {
  width: 100%;
}