.section {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23em;
  height: 25em;
  padding: 1em;
  margin: 0em auto 1em auto;
  background-color: whitesmoke;
}

.card:hover {
  box-shadow: 0em 0em 0.3em 0.2em rgb(40, 80, 55);
}

#challenge-photo {
  width: 100%;
  /* max-height: 40em; */
}

.view-more {
  text-align: right;
}

.card-status {
  width: fit-content;
  padding: 0.2em;
  letter-spacing: 0.1em;
}

.card-status.open {
  background-color: rgb(243, 163, 59);
}
.card-status.closed {
  background-color: rgb(35, 73, 9);
  color: whitesmoke;
}

.description {
  color: darkslategray;
}

.title {
  font-weight: 700;
  color: darkgreen;
  padding: 1em 0em;
}