.section {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23em;
  padding: 1em;
  margin: 0em 1.5em 1em 1.5em;
  background-color: whitesmoke;
}

#challenge-photo {
  width: 100%;
}

.status {
  text-align: right;
}