.category {
  text-align: center;
  color: rgb(84, 160, 14);
  align-items: center;
  background-color: whitesmoke;
  width: 6em;
  padding: 1em;
  margin: 0em 0.5em;
  border-radius: 0.5em;
}

.category:hover{
  text-align: center;
  color: whitesmoke;
  align-items: center;
  background-color: rgb(84, 160, 14);
  width: 6em;
  padding: 1em;
  margin: 0em 0.5em;
  border-radius: 0.5em;
}

.category-container {
  display: flex;
  justify-content: flex-start;
}

.category--selected {
  color: whitesmoke;
  background-color: rgb(84, 160, 14);
  text-align: center;
  align-items: center;
  width: 6em;
  padding: 1em;
  margin: 0em 0.5em;
  border-radius: 0.5em;
}